        pre {
            font-family: monospace;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
        #container {
            width: 90%;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 20px;
        }

        #main-content {
            display: flex; /* Ενεργοποιούμε το Flexbox */
            gap: 30px;     /* Απόσταση μεταξύ των δύο στηλών */
            flex-direction: column /* Αλλάζει την κατευθυνση του flexbox σε κάθετη */
        }

        #controls {
            flex: 1;       /* Πιάνει το 1/3 του χώρου */
            background: #f9f9f9;
            padding: 15px;
        }

        #preview {
            flex: 2;       /* Πιάνει τα 2/3 του χώρου */
            padding: 15px;
        }

        #text {
            width: 50%;
            height: 20px;
            resize: none;
        }
        form {
            display: flex;
            align-items: center;
            gap: 10px;
        }