<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Web</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="theme-guest">
    <div id="container">
        <div id="header">
            <h1>ASCII Art Web</h1>
        </div>
        <div id="main-content">
            <div id="controls">
                <div class="section-title">Controls</div>
                <form method="POST" action="/ascii-art">
                    <textarea id="text" name="text" placeholder="Type your text">{{.Text}}</textarea>
        
                    <input type="text" name="letters" value="{{.Letters}}" placeholder="Substring">
        
                    <select name="banner">
                        <option value="standard" {{if eq .Banner "standard" }}selected{{end}}>Standard</option>
                        <option value="shadow" {{if eq .Banner "shadow" }}selected{{end}}>Shadow</option>
                        <option value="thinkertoy" {{if eq .Banner "thinkertoy" }}selected{{end}}>Thinkertoy</option>
                    </select>
        
                    <select id="color" name="color">
                        <option value="standard" {{if eq .Banner "standard" }}selected{{end}}>Standard (default)</option>
                        <option value="shadow" {{if eq .Banner "shadow" }}selected{{end}}>Shadow</option>
                        <option value="thinkertoy" {{if eq .Banner "thinkertoy" }}selected{{end}}>Thinkertoy</option>
                        </select>
                        <select id="color" name="color">
                            <option value="black" {{if eq .Color "black" }}selected{{end}}>Black (default)</option>
                            <option value="red" {{if eq .Color "red" }}selected{{end}}>Red</option>
                            <option value="yellow" {{if eq .Color "yellow" }}selected{{end}}>Yellow</option>
                            <option value="blue" {{if eq .Color "blue" }}selected{{end}}>Blue</option>
                            <option value="green" {{if eq .Color "green" }}selected{{end}}>Green</option>
                            <option value="purple" {{if eq .Color "purple" }}selected{{end}}>Purple</option>
                            <option value="orange" {{if eq .Color "orange" }}selected{{end}}>Orange</option>
                            <option value="gray" {{if eq .Color "gray" }}selected{{end}}>Gray</option>
                            <option value="pink" {{if eq .Color "pink" }}selected{{end}}>Pink</option>
                            <option value="lightblue" {{if eq .Color "lightblue" }}selected{{end}}>Light Blue</option>
                            <option value="lightgreen" {{if eq .Color "lightgreen" }}selected{{end}}>Light Green</option>
                    </select>
        
                    <div class="button-group">
                        <button type="submit">Generate</button>
                        <button type="submit" formaction="/export">Export as .txt</button>
                    </div>
                </form>
            </div>
        
            <div id="preview">
                <div class="section-title">PREVIEW</div>
                {{if .Error}}
                <p>Error: {{.Error}}</p>
                {{end}}
                {{if .Result}}
                <pre>{{.Result}}</pre>
                {{end}}
            </div>
        </div>   
    </div>
</body>

<script>
    let easterEgg = false;
    document.getElementById("text").oninput = function () {
        if (this.value === "Balevizo" || this.value === "balevizo" || this.value === "basilis" || this.value === "Basilis") {
            document.getElementById("preview").style.backgroundColor = "pink";
            easterEgg = true;
        }
        else {
            if (easterEgg) {
                document.getElementById("preview").style.backgroundColor = "lightgray";
                document.getElementById("preview").style.color = "{{.Color}}";
                easterEgg = false;
            }
        }
    }
</script>
</html>